.hoverButton:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-text-fill: -fx-text-base-color;
    -fx-font-family: "Heiti TC";
}

.menuButton{
	-fx-font-family: "Heiti TC";
	 -fx-font-size:28px;
}

.root{
	-fx-font-family: "Heiti TC";
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-background-color:  #4286f4;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color:  #4286f4;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
     -fx-background-color:  #4286f4;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
     -fx-fill: white;
     -fx-stroke: white;
}